<div class="container">
    <div class="row">
        <div class="col-as-12">
            <h3>Hello</h3>
            <hr>
            <app-servers></app-servers>
        </div>

        <hr>

        <app-warning-alert></app-warning-alert>
        <app-success-alert></app-success-alert>



        <label>Username</label>
        <input type="text" class="form-control" [(ngModel)]="username">
        <p>{{ username }}</p>
        <button
          class="btn btn-primary"
          [disabled]="username === ''"
          (click)="username = ''">
              Reset User
        </button>



        <button class="btn btn-primary" (click)="showSecret = !showSecret">Display Details</button>
        <p *ngIf="showSecret">Secret Password = tuna</p>
    </div>
</div>
